<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mc.asu.edu.smartmeetings">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewSchedule" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayUsers"
            android:label="@string/title_activity_display_users"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".gpsLocation"
            android:exported="false" />
        <service
            android:name=".mainService"
            android:exported="false" />
        <service android:name="com.pusher.android.notifications.fcm.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.pusher.android.notifications.fcm.FCMInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".NoteTakingActivity"
            android:label="@string/title_activity_note_taking"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mc.asu.edu.smartmeetings.Home" />
        </activity>
        <activity
            android:name=".Login"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".createMeeting" />
        <activity android:name=".polls" />
        <activity android:name=".ListMeetLocationsInput" />
        <activity android:name=".ListMeetLocations" />
        <activity android:name=".FindUserAvailability" />
        <activity android:name=".ViewMeetings" />
        <activity android:name=".ShowMeetingDetails" />
        <activity android:name=".CreatePoll" />
        <activity android:name=".ListPolls" />
        <activity android:name=".ViewPoll" />
        <activity android:name=".SubmitPoll">
            <intent-filter>
                <action android:name="mc.asu.edu.smartmeetings.TARGET_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>>
        </activity>
    </application>

</manifest>